---
import Heading from '~components/Heading/Heading.astro'
import style from './PrinciplesAsADeveloper.module.css'
import Signature from '~components/icons/Signature.astro'
---

<section class={style.container}>
  <Heading class={style.title} as={'h3'}>Principios como desarrollador</Heading>
  <p class={style.text}>
    Ser desarrollador no es solo programar. Buscamos soluciones a problemas,
    inquietudes y necesidades. Creamos productos, experiencias, sensaciones; y
    todo eso lo hacemos a partir de una herramienta que es el código. Programar
    es el medio para lograr lo mas importante. Somos artistas que por medio de
    nuestras herramientas transmitimos nuestras ideas a soluciones en el mundo
    real.
  </p>
  <p class={style.text}>
    Y como comunidad y artesanos digitales, es importante cuidarnos y cuidar al
    resto de desarrolladores creando código declarativo, escalable, testable y
    cambiante.
  </p>
  <p class={style.text}>
    Soy friki de la web y me encanta mantenerme al tanto de las novedades.
    Disfruto mucho viendo contenido de mis referentes favoritos como Midudev,
    Desarrollo Útil, Vamoacodear, Goncy y formar parte de comunidades sanas de
    desarrollo en Discord.
  </p>
  <p class={style.text}>
    Me encanta salir a pasear en bici, ver películas en la noche con mi pareja y
    comer helado de menta. Me gustan los perros, la playa y tomar sol. Pero
    sobre todas las cosas, ser feliz.
  </p>
  <Signature class={style.signature} />
</section>
