---
import Heading from '~components/Heading/Heading.astro'
import style from './ExperienceContent.module.css'
import Button from '~components/Button/Button.astro'
import { ToggleButtonJobDescription } from '~components/ToggleButtonJobDescription/ToggleButtonJobDescription.jsx'

const devsysStartWorkingDate = new Date('2022-04-01')
const date = new Intl.RelativeTimeFormat('es', { style: 'long' }).format(
  Math.ceil(
    (devsysStartWorkingDate.getTime() - new Date().getTime()) /
      (1000 * 60 * 60 * 24 * 30)
  ),
  'month'
)

const DATA_EXPERIENCE_LIST = [
  {
    company: `Devsys Compliance`,
    isCurrent: true,
    role: 'Frontend Developer | UX/UI',
    date: `Desde Abril 2022 | ${date}`,
    notes: [
      {
        title: `Incorporé la cultura de “diseño, y luego desarrollo” aplicándolo al
          nuevo producto de la empresa.`,
        descriptions: [
          'Como diseñador, tuve la tarea de crear un nuevo producto desde cero. Para lograr esto, generé un UI Kit, Design Tokens y componentes, asi como también establecí el flujo de cada vista.',
          'Pude aclarar la comunicación y la forma de plasmar ideas entre los equipos de frontend, backend y expertos en negocios.',
          'Proporcione una guía visual clara sobre como enfocar la estructura del producto.',
          'Optimice el tiempo al equipo de desarrollo para que no desarrollase sin un feedback claro.',
        ],
      },
      {
        title: `Desarrollé la primera librería de componentes en React con +150 tests
          y sitio de documentación`,
        descriptions: [
          'En mi rol de desarrollador, sugerí y lleve a cabo la creación de una librería de componentes que cumpliera con los estándares de branding que generé en la etapa de diseño.',
          'Agilicé el proceso de desarrollo del nuevo producto y garanticé la coherencia visual de la marca.',
          'Enfrenté desafíos interesantes al crear un bundle reducido, seleccioné las tecnologías adecuadas y tome decisiones importantes sobre la estructura de la librería y el monorepositorio multipaquete en el que se encuentra (cree el monorepositorio junto con una libreria interna de iconografía).',
          'Aceleré el proceso del equipo de desarrollo para que pudiera centrarse en la lógica de negocio y no en la creación de componentes y branding.',
          'Descubrí mi pasión por crear herramientas de desarrollo que mejoren la experiencia de trabajo a mis compañeros y aprendí mucho sobre accesibilidad “la accesibilidad no es para algunos, es para todos”.',
        ],
      },
      {
        title: `Planifiqué y lleve a cabo capacitaciones técnicas`,
        descriptions: [
          'Como dice el epígrafe de uno de mis libros favoritos El Método Ikigai: “...compartir tus pasiones y despertar la de los demás”.',
          'Motivé y desperté el gusto por tecnologías como React, TypeScript y testing en mis compañeros de equipo.',
          'Di presentaciones sobre temas puntuales hasta seguimiento de tareas en mini-proyectos.',
          'Trabaje en pair programming ayudando a mis compañeros en capacitaciones de React.',
          'Encontré mi Ikigai <<aquello por lo que vale la pena vivir>> y construí la frase con la que más me represento: “ser el sucesor de quien todo aprendi, y enseñar a quien una vez fui”.',
        ],
      },
    ],
  },
  {
    company: `Aprendizaje autodidacta`,
    isCurrent: false,
    role: 'Especialización en Frontend',
    date: `Desde Marzo 2021 a Abril 2022 | 11 meses`,
    notes: [],
  },
  {
    company: `SuiteDB`,
    isCurrent: false,
    role: 'Junior Frontend Developer',
    date: `Desde Septiembre 2020 a Marzo 2021 | 6 meses`,
    notes: [],
  },
]
---

<section class={style.container}>
  <Heading class={style.title} as={'h3'}>Experiencia</Heading>
  <article class={style.experienceContainer}>
    {
      DATA_EXPERIENCE_LIST.map(({ company, date, isCurrent, notes, role }) => (
        <>
          <header class={style.jobHeader}>
            <Heading as={'h4'} class={style.jobCompany}>
              {company}
              {isCurrent && <span class={style.tag}>Actual</span>}
            </Heading>
            <p class={style.jobRole}>{role}</p>
            <p class={style.jobDate}>{date}</p>
          </header>
          {notes && (
            <main class={style.jobNotesContainer}>
              {notes.map(({ title, descriptions }) => (
                <>
                  <Heading>{title}</Heading>
                  <ToggleButtonJobDescription
                    client:idle
                    descriptions={descriptions}
                  />
                </>
              ))}
            </main>
          )}
        </>
      ))
    }
  </article>
</section>
