---
import style from './MainHeader.module.css'
const { pathname: currentPath } = new URL(Astro.request.url)
---

<header class={style.header}>
  <a href="/" class={style.avatarContainer}>
    <img class={style.avatar} src="/madeval.webp" alt="Foto de Madeval" />
  </a>
  <nav class={style.navContent}>
    <a
      href="/about"
      class={`${style.link} ${currentPath === '/about' ? style.active : ''}`}
      >/me</a
    >
  </nav>
</header>
