---
import NavigateArrow from '~components/icons/NavigateArrow.astro'
import style from './PresentationContent.module.css'
import Divider from '~components/Divider/Divider.astro'
import Button from '~components/Button/Button.astro'
import Heading from '~components/Heading/Heading.astro'

const SOCIAL_MEDIA = [
  {
    name: 'Linkedin',
    url: 'https://www.linkedin.com/in/maadeval/',
    icon: 'linkedin_icon.webp',
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/maadeval',
    icon: 'twitter_icon.webp',
  },
  {
    name: 'GitHub',
    url: 'https://github.com/maadeval',
    icon: 'github_icon.webp',
  },
]
---

<section class={style.container}>
  <div class={style.avatarContainer}>
    <img class={style.avatar} src="/madeval.webp" alt="Foto de Madeval" />
  </div>
  <h3 class={style.name}>Mateo Álvarez</h3>
</section>
<Heading class={style.title}>Senior Frontend Developer</Heading>
<p class={style.description}>
  +3 años de experiencia desarrollando páginas web.
</p>
<article class={style.socialMediaContentContainer}>
  <p class={style.socialMediaDescription}>
    👇 Aquí estaré subiendo contenido de programación.
  </p>
  <div class={style.socialMediaContainer}>
    {
      SOCIAL_MEDIA.map(({ name, url, icon }) => (
        <a href={url} target="_blank" class={style.socialMedia}>
          <img
            class={style.socialMediaIcon}
            src={icon}
            alt={`Logo de ${name}`}
          />
          {name}
          <NavigateArrow height={12} />
        </a>
      ))
    }
  </div>
  <div class={style.curriculumButtonContainer}>
    <Button
      as="a"
      href="#"
      target="_blank"
      download="/Frontend_Developer_Mateo_Alvarez.pdf"
      >Descargar Curriculum</Button
    >
  </div>
</article>
<Divider className={style.divider} />
