---
import MainHeader from '~components/shared/MainHeader/MainHeader.astro'
import Footer from '~components/shared/Footer/Footer.astro'
import { MdxHeader } from '~types/mdx.types'
import { generateMetadata } from '~utils/metadata'

import '~styles/index.css'

interface Props {
  frontmatter?: MdxHeader
}

const { frontmatter } = Astro.props
const metadata = generateMetadata({ input: frontmatter })
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/madeval.webp" />
    <meta name="description" content={metadata.description} />
    <meta name="keywords" content={metadata.keywords} />
    <meta name="author" content="Mateo Ãlvarez" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@maadeval" />
    <meta name="twitter:creator" content="@maadeval" />
    <meta name="twitter:title" content={metadata.twitterTitle} />
    <meta name="twitter:description" content={metadata.twitterDescription} />
    <meta name="twitter:image" content={metadata.twitterImage} />
    <meta name="og:image" content={metadata.ogImage} />
    <meta name="og:title" content={metadata.ogTitle} />
    <meta name="og:description" content={metadata.ogDescription} />
    <meta name="og:url" content="https://madeval.dev" />
    <meta name="og:site_name" content="Madeval" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_ES" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <title>{metadata.title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href="/fonts/vidaloka-regular.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-regular.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-medium.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-bold.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <main class="container">
      <MainHeader />
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .container {
    width: 100%;
    min-height: 100vh;
    max-width: var(--screen-lg);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 8rem;
  }
</style>

<style is:global>
  html {
    background-color: var(--color-background);
  }
</style>
